VITE_PUBLIC_POSTHOG_PROJECT_TOKEN=your_token_here
VITE_PUBLIC_POSTHOG_HOST=https://eu.i.posthog.com
VITE_LOGIN_PASSWORD=your_password_here
VITE_ANALYTICS_API_URL=https://tb40.insanmustaqbal.or.id/api
