node_modules
.DS_Store
dist
dist-ssr
*.local
.env*
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json

# typescript
*.tsbuildinfo

# test artifacts
test-results/
.env
trace_adaptive
trace_core
trace_extracted